@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: 'Inter', sans-serif;
  background: #f7f7f7;
  color: #222;
}

.clothes {
  max-width: 1200px;
  padding: 40px 30px;
}

.clothes h1 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.h2 {
  font-size: 28px;
  margin: 30px 0 15px;
  font-weight: 600;
}

.clothes-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.product {
  background: white;
  border-radius: 18px;
  padding: 20px;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
}

.product:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.product img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 14px;
}

.title {
  font-size: 20px;
  margin: 18px 0 8px 0;
  font-weight: 600;
  color: #111;
}

.price {
  font-size: 18px;
  font-weight: 650;
  margin-bottom: 8px;
  color: #2a7bff;
}

.descpription {
  font-size: 14px;
  color: #444;
  flex-grow: 1;
  margin-bottom: 10px;
}

.category {
  font-size: 13px;
  background: #eee;
  color: #555;
  padding: 6px 10px;
  border-radius: 8px;
  width: fit-content;
}

.clothes input[type="text"], select {
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 25px;
}

.clothes select {
  cursor: pointer;
}

.clothes input[type="text"]:focus,
select:focus {
  border-color: teal;
  box-shadow: 0 0 3px rgba(42, 123, 255, 0.4);
}